<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="format-detection" content="address=no;email=no;telephone=no" />
<title>Complete your Purchase</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<div class="emailSummary">Complete your Purchase</div>
<table id="emailBody" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" class="emailBodyCell"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="eBox">
        <tr>
          <td class="eHeader_stretch">&nbsp;</td>
          <td class="eHeader"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="eHeaderLogo"><a class="logo" href="{{ shop.url }}"><img class="imageFix" src="{{ 'logo.png' | asset_url }}" alt="{{ shop_name }}" height="48" /></a></td>
                <!-- end .eHeaderLogo--> 
              </tr>
            </table></td>
          <td class="eHeader_stretch">&nbsp;</td>
        </tr>
        <tr>
          <td class="highlight_stretch">&nbsp;</td>
          <td class="highlight pdTp32 pdBt16"><h1><span>Complete your Purchase</span></h1></td>
          <td class="highlight_stretch">&nbsp;</td>
          <!-- end .highlight--> 
        </tr>
        <tr>
          <td class="eBody_stretch">&nbsp;</td>
          <td class="eBody alignLeft"><p>Hey{% if billing_address.name %} {{ billing_address.name }}{% endif %},<br />
              Your shopping cart at {{ shop_name }} has been reserved and is waiting for your return!</p>
            <p>In your cart, you left:</p></td>
          <td class="eBody_stretch">&nbsp;</td>
          <!-- end .eBody--> 
        </tr>
        <tr>
          <td class="eBody_stretch">&nbsp;</td>
          <td class="blank"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="invoiceTable2 bottomLine">
              <tr>
                <th colspan="2" class="alignLeft pdLf16">Item</th>
                <th class="alignRight">Subtotal</th>
              </tr>
              {% for line in line_items %}
              <tr>
                <td class="alignLeft prodImg"><img src="{{ line.product.featured_image | product_img_url: 'small' }}" width="80" alt="{{ line.title }}" /></td>
                <td class="alignLeft prodDesc"><h4>{{ line.title }}</h4>
                  Quantity: {{ line.quantity }}<br />
                  Price: {{ line.price | money }} </td>
                <td class="alignRight"><span class="desktopHide">Subtotal: </span><span class="amount">{{ line.line_price | money }}</span></td>
              </tr>
              {% endfor %}
            </table></td>
          <td class="eBody_stretch">&nbsp;</td>
          <!-- end .eBody--> 
        </tr>
        <tr>
          <td class="eBody_stretch">&nbsp;</td>
          <td class="eBody alignCenter"><p>But it's not too late! To complete your purchase, click the button below.</p>
            <table border="0" cellpadding="0" cellspacing="0" class="mainBtn">
              <tr>
                <td class="btnMain"><a href="{{ url }}"><span>Complete your Purchase</span></a></td>
              </tr>
            </table>
            <p></p>
            <p>Thanks for shopping!<br />
{{ shop.name }}</p>
            </td>
          <td class="eBody_stretch">&nbsp;</td>
          <!-- end .eBody--> 
        </tr>
        <tr>
          <td class="eBody_stretch">&nbsp;</td>
          <td class="bottomCorners">&nbsp;</td>
          <td class="eBody_stretch">&nbsp;</td>
        </tr>
        <tr>
          <td class="eFooter_stretch">&nbsp;</td>
          <td class="eFooter">© 2015 {{ shop.name }}. All Rights Reserved.</td>
          <td class="eFooter_stretch">&nbsp;</td>
        </tr>
      </table>
      
      <!-- end .eBox --></td>
    <!-- end .emailBodyCell --> 
  </tr>
</table>
<!-- end #emailBody -->
</body>
</html>