<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="format-detection" content="address=no;email=no;telephone=no" />
<title>Order {{ name }} cancelled</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<div class="emailSummary">Order {{ name }} cancelled</div>
<table id="emailBody" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" class="emailBodyCell"><table width="544" border="0" cellpadding="0" cellspacing="0" class="eBox">
        <tr>
          <td class="eHeader"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="eHeaderLogo"><a class="logo" href="{{ shop.url }}"><img class="imageFix" src="{{ 'logo.png' | asset_url }}" alt="{{ shop_name }}" height="48" /></a></td>
                <!-- end .eHeaderLogo--> 
              </tr>
            </table></td>
        </tr>
        <tr>
          <td class="emptyCell hBorder">&nbsp;</td>
        </tr>
        <tr>
          <td class="highlight pdTp32 pdBt16"><h1><span>Order {{ name }} cancelled</span></h1></td>
          <!-- end .highlight--> 
        </tr>
        <tr>
          <td class="eBody alignLeft"> {% if billing_address.name %}
            <p>Dear {{ billing_address.name }},</p>
            {% endif %}
            <p>Your order {{ name }} was cancelled {% case cancel_reason %}{% when 'customer' %}at your request.{% when 'inventory' %}because we did not have enough stock to fulfill your order.{% when 'fraud' %}because we suspect it is fraudulent.{% when 'other' %}due to unforseen circumstances.{% endcase %}</p>
            <p>{% if financial_status == 'voided' %}Your payment has been voided.{% elsif financial_status == 'credited' %}Your payment has been refunded.{% endif %}</p>
            <p>Please reply to this email if you have any questions or concerns.</p>
            <p>Sincerely,<br />
              {{shop_name}}</p></td>
          <!-- end .eBody--> 
        </tr>
        <tr>
          <td class="emptyCell hBorder">&nbsp;</td>
        </tr>
        <tr>
          <td class="eFooter">© 2015 {{ shop.name }}. All Rights Reserved.</td>
        </tr>
      </table>
      
      <!-- end .eBox --></td>
    <!-- end .emailBodyCell --> 
  </tr>
</table>
<!-- end #emailBody -->
</body>
</html>